**/*.log
**/*.swp
**/target
**/.classpath
**/.settings
**/.project
**/dependency-reduced-pom.xml
tags
*.classpath
*.project
*.pydevproject
.gradle
.gradle_home
build/
.idea
*.iml
bin/
**/pom.xml.versionsBackup
/.metadata/
out/
gradle.zip
/docker/**/*.*ar
/docker/.env
/docker/data
/.vscode
lang-java-reach-soot-init/lib/*.jar
docs/site
docs/merged
docs/enterprise

