**/*.log
**/*.swp
**/target
**/.classpath
**/.settings
**/.project
**/dependency-reduced-pom.xml
.flattened-pom.xml
.factorypath
tags
*.classpath
*.project
*.pydevproject
.gradle
.gradle_home
build/
.idea
*.iml
bin/
**/pom.xml.versionsBackup
/.metadata/
out/
gradle.zip
/.vscode
lang-java-reach-soot-init/lib/*.jar
docs/site
docs/.merged
docs/.tmp
/*/src/main/webapp/model/Version.js
values_dev.yaml
test.yaml
.DS_Store
**/*.buildinfo

# Created by the generator Docker container (/docker/Dockerfile and /docker/run.sh)
/docker/**/*.*ar
/docker/client-components
/docker/all-components

# Environment and data folders when running the Docker Compose app in the cloned repo
/docker/.env
/docker/*/data
/docker/kb-importer/conf/kaybeeconf.yaml

# Files created by .travis/check_code_style.sh
google-java-format-*.jar
java-files.txt
non-compliant-files.txt
