**/*.log
**/*.swp
**/target
**/.classpath
**/.settings
**/.project
**/dependency-reduced-pom.xml
.flattened-pom.xml
.factorypath
tags
*.classpath
*.project
*.pydevproject
.gradle
.gradle_home
build/
.idea
*.iml
bin/
**/pom.xml.versionsBackup
/.metadata/
out/
gradle.zip
/docker/**/*.*ar
/docker/.env
/docker/data
/docker/client-components
/.vscode
lang-java-reach-soot-init/lib/*.jar
docs/site
docs/.merged
docs/.tmp
/*/src/main/webapp/model/Version.js
values_dev.yaml
test.yaml
kubernetes/helm/vulnerability-assessment-tool-admin/charts/nginx-ingress/files/tls/*.key
kubernetes/helm/vulnerability-assessment-tool-admin/charts/nginx-ingress/files/tls/*.crt
/kubernetes/kustomize/secrets/*
!/kubernetes/kustomize/secrets/*.sample
/docker/**/import_vulas_kb.sh
google-java-format-*.jar
.DS_Store
docker/kb-importer/data/**
**/*.buildinfo
docker/kb-importer/data/**

java-files.txt
non-compliant-files.txt