<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="300">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%date [%thread] [%highlight{%-5level}] %-30.30c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${sys:vulas.log4j.threshold:-INFO}">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>