# Vulas
VULAS_RELEASE=3.0.10-SNAPSHOT
VULAS_ENV=prod

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=f#%d%#fad9_+89dg2

# Jira (optional)
JIRA_USER=
JIRA_PASSWORD=

# Proxy
HTTP_PROXY_HOST=
HTTPS_PROXY_HOST=
HTTP_PROXY_PORT=
HTTPS_PROXY_PORT=
NON_PROXY_HOSTS=
http_proxy=
https_proxy=
no_proxy=

# Spring
spring.datasource.username=postgres
spring.datasource.password=f#%d%#fad9_+89dg2
