{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole

metadata:
  name: {{ template "clusterRoleName" . }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}

rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - endpoints
      - nodes
      - pods
      - secrets
    verbs:
      - list
      - watch

  - apiGroups:
      - ""
    resources:
      - namespaces
    resourceNames:
      - "{{ .Values.global.coreNamespace }}"
      - "{{ .Values.global.namespace }}"
    verbs:
      - get

  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get

  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - update
      - watch

  - apiGroups:
      - extensions
      - "networking.k8s.io" # k8s 1.14+
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch

  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch

  - apiGroups:
      - extensions
      - "networking.k8s.io" # k8s 1.14+
    resources:
      - ingresses/status
    verbs:
      - update
{{- end -}}
