{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role

metadata:
  name: {{ template "roleName" . }}-admin
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}

rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get

  - apiGroups:
      - ""
    resources:
      - configmaps
      - pods
      - secrets
      - endpoints
    verbs:
      - get
      - list
      - watch

  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
      - update

  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - update
      - watch

  - apiGroups:
      - extensions
      - "networking.k8s.io" # k8s 1.14+
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch

  - apiGroups:
      - extensions
      - "networking.k8s.io" # k8s 1.14+
    resources:
      - ingresses/status
    verbs:
      - update

  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - {{ .Values.ingressController.electionID }}
      - {{ .Values.ingressController.electionID }}-{{ .Values.ingressController.ingressClass }}
    verbs:
      - get
      - update

  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create

  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - create
      - get
      - update

  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
{{- end -}}
