.paddingTop10 {
	padding-top: 10px;
}

.archivesHeader {
	font-size: 15px;
	font-weight: bold;
}

.marginTopBottom {
	margin-top: 5px;
	margin-bottom: 10px;
}

.icon1 {
	margin: 0.6em 0.5em auto 1.2em;
}

.icon2 {
	margin: 0.5em 0.5em auto 0.25em;
}

.marginVerticalContent {
	margin: 0.3em;
}

.marginBugDetailTables {
	margin: 0.3em 0;
}

.myInsertColor {
    color: #2e8b57;
}

.myDefaultColor {
    color: #000000;
}

.myUpdateColor {
    color: #ffd700;
}

.myDeleteColor {
    color: #ff0000;    
}